header {
    background-color: #000;
    color: #fff;
    padding: 10px 40px; /* Ajustamos el padding lateral para dar más espacio */
    display: flex;
    justify-content: space-between; /* Alinea logo a la izquierda y navegación a la derecha */
    align-items: center;
    height: 80px; /* Ajusta la altura del header */
  }
  
  nav {
    display: flex;
    justify-content: center; /* Centra los enlaces de navegación */
    flex: 1; /* Ocupa todo el espacio disponible entre el logo y los elementos adicionales */
    align-items: center;
  }
  
  
  /* Navegación */
  .nav-links {
    list-style: none;
    display: flex; /* Asegura que los elementos de navegación estén en una sola fila */
    gap: 20px; /* Espacio entre cada enlace */
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ff0000; /* Enlace cambia a rojo al pasar el ratón */
  }
  
  
  
  /* Ocultamos el menú en pantallas grandes */
  .burger-menu {
    display: none;
  }
  
  /* Estilos para el menú hamburguesa en pantallas pequeñas */
  .mobile-menu {
    position: fixed;
    bottom: -100%; /* Fuera de pantalla inicialmente */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: bottom 0.5s ease; /* Animación de apertura */
    z-index: 9999;
  }
  
  .mobile-menu.active {
    bottom: 0; /* Menú visible en la pantalla */
  }
  
  .mobile-nav-links {
    list-style: none;
    text-align: center;
  }
  
  .mobile-nav-links li {
    margin: 20px 0;
  }
  
  .mobile-nav-links a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  /* Ícono de cierre en la parte superior */
  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .close-icon {
    cursor: pointer;
  }
  
  /* Para pantallas pequeñas */
  @media (max-width: 768px) {
    .nav-links {
      display: none; /* Ocultamos los enlaces de navegación */
    }
  
    .burger-menu {
      display: block;
      cursor: pointer;
    }
  }
  